:root{
    --blue : #26ACE3;
    --eclaircies: #00b3a4;
    --ensoleille: rgb(211, 179, 0);
    --averses-de-pluie-faible: #699dc0;
    --ciel-voile: #abb9c2;
    --nuit-legerement-voilee: #8182a0;
    --nuit-nuageuses: #6d657e;
    --nuit-avec-averse: #38395e;
    --passages-nuageux: #676474;
    --pluie-faible: #768dac;
    --nuit-claire: #484ab9;
    --fortement-nuageux: #555555;
    --stratus: #333450;
}